.grid-container {
    display: flex;
    flex-wrap: wrap; 
    width: 600px; 
    height: 600px; 
    border: 1px solid black;
}

.grid-item {
    width: 6.25%; 
    height: 6.25%;
    box-sizing: border-box; 
    border: 1px solid #0f0101;
}
